<div
  id="carousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="5000"
>
  <div class="carousel-indicators">
    <button
      *ngFor="let character of characters; let i = index"
      type="button"
      data-bs-target="#carousel"
      [attr.data-bs-slide-to]="i"
      [ngClass]="{ active: i === 0 }"
      aria-current="true"
      [attr.aria-label]="'Slide ' + (i + 1)"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let character of characters; let i = index"
      class="carousel-item"
      [ngClass]="{ active: i === 0 }"
    >
      <img src="{{ character.image }}" class="" alt="{{ character.name }}" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ character.name }}</h5>
        <p>{{ character.location.name }}</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
