<form (submit)="filterCharacters()">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Enter the name"
    [(ngModel)]="name"
  />

  <select id="gender" name="gender" [(ngModel)]="gender">
    <option value="All genders">All genders</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="unknown">Unknown</option>
  </select>
  <button type="submit" class="searchBtn">Search</button>
</form>

<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div
      class="col-md mb-2 d-flex justify-content-center"
      *ngFor="let character of filteredCharacters"
    >
      <div class="card" style="width: 18rem">
        <img [src]="character.image" class="card-img-top" alt="card__image" />
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
          <p>{{ character.location.name }}</p>
          <p class="card-text">
            {{ character.species }} - {{ character.gender }} -
            {{ character.status }}
          </p>
          <a
            class="btn btn-dark"
            [routerLink]="['/alters']"
            [queryParams]="{ name: character.name.split(' ')[0] }"
            >Show Alters</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
