.navbar {
  margin: auto;
  background-color: #343a40;
}
.navbar-brand {
  margin-left: 14%;
}

.navbar-brand img {
  width: 60px;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

.nav-link {
  color: #fff;
}

#about_Link:hover {
  color: rgba(255, 255, 255, 0.5);
}
