.pageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 50px;
  width: 100%;
}

.container {
  position: relative;
  max-width: 800px;
}

@media screen and (max-width: 762px) {
  .container {
    max-width: 100%;
  }
}

.underline {
  font-weight: bold;
  font-style: italic;
}

.signature {
  position: absolute;
  bottom: -2rem;
  right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
